const getJediButton = document.querySelector('#jediButton');
const jedi$ = Rx.Observable.fromEvent(getJediButton, 'click')
    .mapTo('/api/jedi');

const getSithButton = document.querySelector('#sithButton');
const sith$ = Rx.Observable.fromEvent(getSithButton, 'click')
    .mapTo('/api/sith');

const result$ = Rx.Observable.merge(jedi$, sith$)
    .switchMap(path => Rx.Observable.ajax(path))
    .map(data => data.response);

result$.subscribe(
  (data) => document.querySelector('#result').innerHTML = data
)