/*
/api/jedi
[
    {name: 'Yoda'},
    {name: 'Anakin Skywalker'},
    {name: 'Obi-Wan Kenobi'}
]
*/

$.ajax('/api/jedi')
    .then(
        (data) => console.log(data),
        (err) => {/*...*/}
    )

const jedi$ = Rx.Observable.ajax('/api/jedi')
    .map(data => data.response)
    .catch({/*...*/})
    .finally({/*...*/});

jedi$.subscribe(
     jedi => console.log(jedi),
     () => {/*handle error*/},
     () => {/*stream completed*/}
 )

const jedi$ = Rx.Observable.ajax('/api/jedi')
    .mergeMap(data =>
        Rx.Observable.from(data.response))

jedi$.subscribe(
     (jedi) => console.log(jedi)
 )

 const jedi$ = Rx.Observable.ajax('/api/jedi')
     .mergeMap(data => data.response)
     .filter(jedi => willNotBecomeSithLord(jedi))
     .take(1)

 jedi$.subscribe(
      (jedi) => console.log(jedi)
  )




