Rx.Observable.from([1,2,3,4])
  .subscribe((val) => console.log(val))



var button = document.querySelector('button');
button.addEventListener('click', () => console.log('Clicked!'));



var button = document.querySelector('button');
Rx.Observable.fromEvent(button, 'click')
  .subscribe(() => console.log('Clicked!'));



var button = document.querySelector('button');
Rx.Observable.fromEvent(button, 'click')
    .throttleTime(1000)
    .subscribe(() => console.log('Clicked!'));




