.buttonClickJsThrottle h1 {
    border: none !important;
    color: black !important;
}

.buttonClickJsThrottle pre {
    padding-top: 25% !important;
}
.buttonClickJsThrottle code {
    padding-left: 4em !important;
    text-indent: -4em !important;
}

.buttonClickJsThrottle > div {
    bottom: 20% !important;
    white-space: nowrap;
    overflow: hidden;
    animation: scroll 30s infinite linear;
}

@keyframes scroll{
    0% {text-indent:100%;}
    100% {text-indent:-450%;}
}