.switchingFaillmplementation #result {
    white-space: pre-wrap;
    border: 2px solid white;
    margin-top: 5%;
    transition: all 0.2s;
}

.switchingFaillmplementation button {
    background-color: black;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.switchingFaillmplementation #jedi-button {
    margin-right: 16%;
}

.switchingFaillmplementation #sith-button {
    margin-left: 16%;
}

.switchingFaillmplementation button:active {
    background-color: white;
    color: black;
}

.switchingFaillmplementation .highlite {
    background-color: white;
    color: black;
}

.switchingFaillmplementation .serverImage {
    width: 10%;
}

.switchingFaillmplementation .requests {
    width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.switchingFaillmplementation .jedi-requests {
    height: 100%;
    width: 50%;
    display: inline-block;
    position: relative;

}

.switchingFaillmplementation .sith-requests {
    height: 100%;
    width: 50%;
    display: inline-block;
}

.switchingFaillmplementation .list {
    height: 100%;
}

.requestArrow {
    display: inline-block;
    position: relative;
    height: 100%;
    overflow: hidden;
}

@keyframes moveUp {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(0%)
    }
    100% {
        transform: translateY(0%)
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%)
    }
}

.requestArrow img {
    height: 100%;
}