.buttonClickJs h1 {
    border: none !important;
    color: black !important;
}

.buttonClickJs pre {
    padding-top: 25% !important;
}
.buttonClickJs code {
    padding-left: 4em !important;
    text-indent: -4em !important;
}

.buttonClickJs > div {
  background-color: white !important;
    color: black !important;
    border: 2px solid black;
    bottom: 20% !important;
}