document.querySelector('#jediButton').addEventListener('click',
    () => getAjaxData('/api/jedi')
);

document.querySelector('#sithButton').addEventListener('click',
    () => getAjaxData('/api/sith')
);

const getAjaxData = (path) => $.ajax(path)
    .then((data) =>
    document.querySelector('#result').innerHTML = data)