.operators {
    font-family: "Fira Mono", Menlo, Monaco, "Lucida Console","Courier New", Courier, monospace;
    line-height: 2em;
}

.operators li {
    list-style-type: none;
}

.operators .indent {
    text-indent: 2em;
}
