const cancelBtn = document.querySelector('button');
const cancel$ = Rx.Observable.fromEvent(cancelBtn, 'click');

const data$ = Rx.Observable.ajax('/api/data')
    .map(data => data.response)
    .takeUntil(cancel$)

data$.subscribe(
     (data) => console.log(data)
 )

 /* With Timeout */
 const data$ = Rx.Observable.ajax('/api/data')
     .map(data => data.response)
     .takeUntil(cancel$)
     .timeout(5000)

 data$.subscribe(
      (data) => console.log(data)
  )




