const getJediButton = document.querySelector('#jediButton');
getJediButton.addEventListener('click',
    () => getAjaxData('/api/jedi')
);

const getSithButton = document.querySelector('#sithButton');
getSithButton.addEventListener('click',
    () => getAjaxData('/api/sith')
);

const getAjaxData = (path) => $.ajax(path)
    .then((data) =>
    document.querySelector('#result').innerHTML = data)