const data$ = Rx.Observable.ajax('/api/data')
    .map(e => e.response)
    .retry(3)

data$.subscribe(
     (data) => document.getElementById("result").innerHTML = data;
 )

 /* Combine retry and timeout */
 const data$ = Rx.Observable.ajax('/api/data')
     .map(e => e.response)
     .retry()
     .timeout(10000)

 data$.subscribe(
      (data) => document.getElementById("result").innerHTML = data;
  )

 /* Add a delay before retrying */
  const data$ = Rx.Observable.ajax('/api/data')
      .map(e => e.response)
      .retryWhen( err =>
          err.do(val => console.log('retrying'))
             .delayWhen(val => Rx.Observable.timer(1000)))
      .timeout(10000)